@use '../../styles/styleFields.scss' as *;

.CreateChatPage{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    .CreateChatFormContainer{
        width: 80%;
        min-width: 300px;
        max-width: 800px;
        margin: 5px;
        padding: 40px;
        background: $blockColor;
        border: 2px solid $borderDark;
        border-radius: $mBorderRadius;

        h2{
            text-align: center;
            font-size: 25px;
        }
        .button{
            margin-top: 10px;
        }
    }
}