@use '../../../styles/styleFields.scss' as *;

.VideoCallContainer{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.389);
    
    .VideoCallModal{
        display: flex;
        flex-direction: column;
        margin: 20px;
        width: fit-content;
        max-width: 550px;
        min-width: 350px;
        max-height: 90%;
        background: $blockColor;
        border: 2px solid $borderDark;
        border-radius: $mBorderRadius;
        
        // overflow-y: scroll;
        flex-grow: 1;


        div{
            .localVideo {
                width: 150px;
                height: 150px;
                position: relative;
                z-index: 2;
            }
            
            .remoteVideo {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}