@use 'sass:math';

$BgColor: #121212;
$blockColor: #1E1E1E;
$input: #2C2C2C;
$borderDark: #333333;
$borderLigth: #a4a4a4;
$text: #E0E0E0;
$lowText: #B0B0B0;
$button: #BB86FC;
$buttonHover: #c9a0fc;
$buttonActive: #ac6afd;
$error: #f85d5d;

$neonBgColor: #BB86FC;
$neonColor: #c9a0fc ;
$neonBorderColor: #dfcde8;

$Shadow: 0 0 10px rgba(0, 0, 0, 0.5);

$mBorderRadius: 30px;
$sBorderRadius: 10px;

$mPadding: 20px;
$sPadding: 10px;

$mMargin: 20px;
$sMargin: 5px;

@function random-color() {
    @return rgb(math.random(230), math.random(230), math.random(230));
}