@use '../../styles/styleFields.scss' as *;

.authPageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/bgImg.jpg');
  background-size: cover;
  background-position: center;

  .authBlock{
    padding: 40px;
    margin: 5px;
    width: 350px;
    
    background: transparent;
    backdrop-filter: blur(10px);
    border: 3px solid rgba(26, 26, 26, 0.152);
    border-radius: $mBorderRadius;
    box-shadow: $Shadow;

    h2{
      margin-bottom: 10px;
      font-size: 30px;
      text-align: center;
    }

    form{
      input{
        background: transparent;
      }
  
      label{
        margin: 5px 5px;
      }

      button{
        margin-top: 15px;
        margin-bottom: 15px;
      }
      
      a{
        text-align: end;
        font-size: 15px;
      }
    }

    a{
      padding: 5px;
      text-decoration: none;
      color: $text;
      display: block;
      text-align: center;
      &:hover{
        color:$lowText;
      }
    }

  }
   
}