@use '../../styles/styleFields.scss' as *;

.layoutContainer{
    display: flex;
    margin: auto;
    height: 100vh;
    width: 100vw;
    max-width: 1600px;
    .headerContainer{
        width: 250px;
        //background: rgb(196, 70, 70);
        height: 100%;
        padding: $mPadding;
    }
    .mainContainer{
        width: 100%;
        height: 100%;
        padding: $mPadding;

    }
}