@use '../../../../styles/styleFields.scss' as *;
.myContactsContainer{
    flex-grow: 4;
    flex-basis: 0;
    background: $blockColor;
    border-radius: $sBorderRadius;
    margin: $sMargin;

    .contactsList{
        // padding: 10px;
        overflow-y: scroll;
        height: calc(100% - 65px);
        .middle{

            display: flex;
            padding: 10px 30px 30px 30px;
            align-items: center;
            justify-content: center;
        }
        &::-webkit-scrollbar {
            width: 4px;
            height: 20px;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: $borderDark;
            border-radius: 10px;
        }
        
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
    }
}