@use '../../../../styles/styleFields.scss' as *;

.contactContainer{
    display:  flex;
    padding: 5px 10px;
    // margin-bottom: 5px;
    // border-radius: $sBorderRadius; //
    // border-bottom: 0.1px solid $borderDark;
    &:hover{
        
        background: $input; //
    }
    .contactAvatarContainer{

        img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .contactInfoContainer{
        
        margin: auto 0 auto 8px;
        .name{
            font-size: 16px;
            margin-bottom: 3px;
        }
    }

    .buttonsContainer{
        display: flex;
        align-items: center;
        margin-left: auto;

        .contactButton{
            padding: 5px;
            background: none;
            border: none;
            img{
                width: 20px;
                height: 20px;
            }
        }
    }
}