@use '../../../../styles/styleFields.scss' as *;

.myMessageContainer{
    display: flex;
    max-width: 80%;
    width: fit-content;
    margin: 3px 5px;
    align-items: end;
    &.left{
        margin-right: auto;
    }
    &.rigth{
        margin-left: auto;

    }
    .chatAvatarHeader{
        min-height: 40px;
        min-width: 40px;
        max-height: 40px;
        max-width: 40px;
        border-radius: 20px;
        margin-right: 10px;
    }

    .ContentContainer{
        padding: $sPadding;
        border-radius: 5px;
        background: $input;
        word-break: break-word; /* перенос длинных слов */
        overflow-wrap: break-word; /* переносит слова, не умещающиеся в строку */
        text-wrap: wrap;
        background: $neonMsgColor;
        @media (max-width: 780px) {
            padding: 8px 10px;
        }

        .Content{
            text-align: right;

            text-wrap: wrap;
            font-size: 14px;
        }

        .msgTypeSticker{
            display: block;
            width: 200px;
            height: 180px;        
        }

        .msgTypeImage{
            width: 100%;
            max-height: 400px;
        }

        .msgTypeAudio{
            width: 250px;

        }

        .msgTypeVideo{
            width: 100%;
            max-height: 400px;
        }

        .msgTypeDownloadFile{
            display: flex;
            align-items: center;

            padding: 5px;
            border: 2px solid $neonBorderColor;
            border-radius: $sBorderRadius;

            .imgContainer{
                padding: 8px;
                background: $neonBorderColor;
                border-radius: $sBorderRadius;
                margin-right: 10px;
                .downloadIcon{
                    width: 50px;
                    height: 50px;
                }
            }
        }

        .senderName{
            font-size: 15px;
            color: $neonColor;
            display: none;
        }

        .messageInfo{
            font-size: 12px;
            text-align: right;
        }
    }
    
    .isItFirstMessage{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-top: 3px;
    }
    .isItLastMessage{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-bottom: 3px;
    }

    .miniMenu {
        z-index: 1000;
        display: flex;
        flex-direction: column;
    
        & > * {
            height: 35px;
            padding: 0 15px;
            text-align: left;
            border: none;
            font-size: 14px;
            background: $input;
            color: $text;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-decoration: none; // Убираем подчеркивание у ссылок
    
            &:hover {
                background: $borderDark;
            }
        }
    
        & > *:first-child {
            border-top-left-radius: $sBorderRadius;
            border-top-right-radius: $sBorderRadius;
        }
    
        & > *:last-child {
            border-bottom-left-radius: $sBorderRadius;
            border-bottom-right-radius: $sBorderRadius;
        }
    }
    
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        z-index: 999;
    }

}
