@use '../../styles/styleFields.scss' as *;

.headerContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    
    .logoContainer{
        
        .logoImg{
            width: 100%;
            @media (max-width: 1200px){
                display: none;
            }
        }
    }
    
    .navContainer{
        display: flex;
        flex-direction: column;
        margin-bottom: auto;
        margin-top: auto;
        @media (max-width: 1060px) {
            flex-direction: row;
            margin: auto;
        }

        a{
            margin: 10px 0 10px 7px;
            display: flex;
            align-items: center;
            transition: border-bottom 0.3s ease, margin-left 0.3s ease; 
            
            &:hover{

                //border-bottom: 4px solid $text;
                padding-left: 10px;
            }
            &:active{

                transition: padding-left 0.01s ease; 

                padding-left: 10px;
            }
            @media (max-width: 1060px) {
                margin:0 10px 0 10px;
                &:hover{
                    padding-left: 0;
                }
                &:active{
                    padding-left: 0;
                }
            }
            img{
                width: 30px;
                height: 30px;
                filter: drop-shadow(0 0 4px $neonColor) ;
            }
            .menuItemName{
                margin-left: 15px;
                font-size: 15px;
                @media (max-width: 1200px){
                    display: none;
                }
            }
        }
    }

    .BottomContainer{
        //padding: 10px;
        .logoutButton{
            background: none;
            border: none;
            color: $text;
            font-size: 15px;

            &:hover{
                color: $lowText;
            }
        }
        .logoImg{
            width: 100%;
        }
    }
}