@use '../../styles/styleFields.scss' as *;

.headerContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    
    .logoContainer{
        
        .logoImg{
            width: 100%;
        }
    }
    
    .navContainer{
        display: flex;
        flex-direction: column;
        margin-bottom: auto;
        margin-top: auto;

        a{
            margin: 10px 0 10px 0;
            display: flex;
            align-items: center;
            transition: border-bottom 0.3s ease, margin-left 0.3s ease; 

            &:hover{

                //border-bottom: 4px solid $text;
                margin-left: 10px;
            }
            &:active{

                transition: margin-left 0.01s ease; 

                margin-left: 15px;
            }
            img{
                width: 25px;
                height: 25px;
                filter: drop-shadow(0 0 4px $neonColor) ;
            }
            span{
                margin-left: 15px;
                font-size: 15px;
            }
        }
    }

    .BottomContainer{
        //padding: 10px;
        .logoutButton{
            background: none;
            border: none;
            color: $text;
            font-size: 15px;

            &:hover{
                color: $lowText;
            }
        }
        .logoImg{
            width: 100%;
        }
    }
}