@use '../../../../styles/styleFields.scss' as *;

.stickerPanelContainer{
    background: $blockColor;
    padding: $sPadding;
    margin: $sMargin;
    border-radius: $sBorderRadius;

    flex: 2 1 500px;
    max-width: 500px;
}