@use '../../../../styles/styleFields.scss' as *;
.myContactRequestsContainer{
    flex-grow: 4;    
    flex-basis: 0;
    background: $blockColor;
    border-radius: $sBorderRadius;
    margin: $sMargin;

    display: flex;
    flex-direction: column;
    .topic{
        background: $input;
        padding: 15px 10px;

        p{
            font-size: 17px;
        }
    }
    
    .moveTopic{
        cursor: ns-resize;
        user-select: none;
    }

    .contactRequestBlock{
        flex-grow: 1;

        overflow-y: scroll;

        .middle{

            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
        &::-webkit-scrollbar {
            width: 4px;
            height: 20px;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: $borderDark;
            border-radius: 10px;
        }
        
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
    }

    .ContactRequestsRecive{
        
    }

    .ContactRequestsSent{

    }
}