@use '../../../../styles/styleFields.scss' as *;

.chatPanelContainer{
    background: $blockColor;
    margin: $sMargin;
    border-radius: $sBorderRadius;
    flex: 3 1 800px;
    max-width: 800px;
    display: flex;
    flex-direction: column;

    .chatPanelHeader{
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid $borderDark;
        padding: $sPadding;
        align-items: center;

        .chatNameHeader{
            display: flex;
            align-items: center;
            // height: 60px;

            .chatAvatarHeader{
                margin-top: 3px;
                margin-bottom: 3px;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                object-fit: cover; 

                background: $neonBgColor;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 22px;


            }

            .chatName{
                margin-left: 10px;
                font-size: 20px;
            }

            .membersCount{
                margin-left: 10px;
                font-size: 14px;
                color: $lowText;
            }
        }

        .chatSettingsButton{
            display: flex;
            flex-direction: column;
            align-items:flex-end;
            background: none;
            border: none;
            padding: 10px;

            .settingPunkt{
                background: $lowText;
                height: 5px;
                width: 5px;
                margin-top: 2px;
                border-radius: 2px;
                transition: width 0.3s ease;
            }

            &:hover{
                .punkt1{
                    width: 15px;
                }
                .punkt2{
                    width: 20px;
                }
                .punkt3{
                    width: 13px;
                }
            }
        }
    }

    .dragZone{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;

        background: $input;
        border: $neonBorderColor dashed 5px;

    }

    .messagesBlock{
        
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        text-wrap: wrap;
        margin:  0 5px;
        flex-grow: 1;

        .noChatId{
            text-align: center;
            margin-top: auto;
            margin-bottom: auto;
        }
        
        .loading{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &::-webkit-scrollbar {
            width: 4px;
            height: 20px;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: $borderDark;
            border-radius: 10px;
        }
        
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
    }

    .inputMessageBlockContainer{
        background: $input;
        padding: $sPadding;

        border-bottom-left-radius: $sBorderRadius ;
        border-bottom-right-radius: $sBorderRadius ;

    .inputMessageBlock{
        display: flex;
        align-items: end;
        border: 3px solid $borderDark;
        border-radius: 25px;
        .StickerButton{
            font-size: 13px;
            padding:  3px 10px;
            margin: 10px;
            border-radius: 15px;
            height: 25px;
            background-color: $neonBgColor;
            color: $text;
            border: 2px solid $neonBorderColor; 
            box-shadow: 0 0 3px $neonColor, 
            0 0 7px $neonColor,
            0 0 15px $neonColor; 
            transition: transform 0.2s, box-shadow 0.2s; 
            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 5px $neonColor, 
                0 0 10px $neonColor,
                0 0 18px $neonColor;
            }
        }
    }

        .inputMessage{

            flex-grow: 1;
            background: none;
            color: $text;
            border: none;
            font-size: 15px;
            color: $lowText;
            height: 45px;
            padding: 14px 0;
            font-family: "Inter", sans-serif;
            align-items: center;
            max-height: 120px;      /* Ограничение по максимальной высоте */
            overflow-y: auto;       /* Прокрутка по вертикали при превышении высоты */
            resize: none;           /* Отключить возможность ручного изменения размера */

            &:focus{
                outline: none;
            }

            &::-webkit-scrollbar {
                display: none;
            }
            
            &::-webkit-scrollbar-thumb {
                display: none;

            }
            
            &::-webkit-scrollbar-track {
                display: none;
            }
        }
        .sendButton{
            background: none;
            border: none;
            padding: 10px;
            height: 45px;
            width: 45px;
            &:hover{
                scale: 1.15;
            }
            img{
                height: 100%;
                width: 100%;

            }

        }
    }
}